footer{
    background-color: #170f18;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.footer_center span{
    color:#823d88;
    text-decoration: underline;
    cursor: pointer;
}
