.four_section_top{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}
.four_section_bot_left{
    background-color: #ecf0f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    height: auto;
}
.four_section_bot_right{
    background-color: #ecf0f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    height: auto;
}
.four_section_bot{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.four_section_p{
    color:#823d88;
}
.four p{
    font-weight: bold;
}
.four{
    margin-bottom: 40px;
}
